<li>
 <span class="content"><a href="#">Nome Tarefa:</a><%= task.name %></span>
 <span class="content"><a href="#">Conteúdo:</a><%= task.content %></span>
 <span class="content"><a href="#">Status:</a><%= task.status %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.
  </span>
    <% if current_user?(task.user) %>
    <%= link_to "delete", task, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: task.name %>
  <% end %>

</li>
